# 이 .gitignore 파일은 Unity 프로젝트 루트에 두는 것을 권장합니다
#
# 최신 버전은 아래의 Unity.gitignore를 참고하세요:
# https://github.com/github/gitignore/blob/main/Unity.gitignore
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log
.DS_Store
.idea/
.obsidian/

# Unity는 기본적으로 Blender 에셋을 임포트하므로, *.blend1 파일은 보통 커밋할 필요가 없습니다.
*.blend1
*.blend1.meta

# MemoryCaptures는 용량이 매우 커질 수 있습니다.
# 또한 민감한 데이터가 포함될 수 있습니다.
/[Mm]emoryCaptures/

# Recordings도 용량이 커질 수 있습니다.
/[Rr]ecordings/

# Asset Store Tools 플러그인을 무시하려면 아래 줄의 주석을 해제하세요.
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider 플러그인 자동 생성 파일
/[Aa]ssets/Plugins/Editor/JetBrains*
# JetBrains Rider 개인 설정 파일
*.DotSettings.user

# Visual Studio 캐시 디렉터리
.vs/

# Gradle 캐시 디렉터리
.gradle/

# VS/MonoDevelop/Consulo 자동 생성 솔루션 및 프로젝트 파일
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D가 생성한 meta 파일
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D 크래시 리포트 생성 파일
sysinfo.txt

# Mono 자동 생성 파일
mono_crash.*

# 빌드 산출물
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics 생성 파일
crashlytics-build.properties

# TestRunner 생성 파일
InitTestScene*.unity*

# Addressables 기본 무시 항목(사용자 커스터마이징 이전)
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
# 기본적으로 Addressables 콘텐츠 빌드는 플랫폼별 폴더에 addressables_content_state.bin을 생성합니다.
# 예:
# /Assets/AddressableAssetsData/OSX/addressables_content_state.bin
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting 자동 생성 파일
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# 플레이모드 테스트가 자동 생성한 씬
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
